name: Continuous Integration

on:
  push:
    
  pull_request:
    branches: [main]
env:
  CARGO_TERM_COLOR: always

permissions:
  pull_request: write

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: thumbv7em-none-eabihf
          override: true
      - name: cargo fmt --check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --verbose
      - uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install Python Dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -e py
            pip install pylint
      - name: Run Pylint
        run: |
          pylint py/thermostat

  compile:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [stable]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: thumbv7em-none-eabihf
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
